.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 128px;
    background-color:#1f2937 ;
    color:#f9faf8;
}


ul{
    display:flex;
    justify-content: space-between;
    gap:16px;
    list-style-type: none;
    color:#f9faf8;
}

a{
    text-decoration: none;
    color:#f9faf8;
}

.section1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1e64c6;
    color: #f9faf8;
    padding:8px;
}
.section1-text{
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
}
.section1-secondary{
    font-size:18px;
    color:#e5e7eb;

}
.section1-left{
    width:300px;
    height:255px;
    margin-left: 128px;
}
.section1-right{
    display:flex;
    justify-content: center;
    align-items: center;
    width:400px;
    height:255px;
    margin-right: 125px;
}
.section1img{
    width:400px;
    height:250px;
}